BS_40_PRJ_2015/BSGen/BearcatSoft.BSGen.AsyncUIHelper/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BS_40_PRJ_2015/BSGen/BearcatSoft.BSGen.Dotfuscate/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BS_40_PRJ_2015/BSGen/BearcatSoft.BSGen.EngineF35/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BS_40_PRJ_2015/BSGen/BearcatSoft.BSGen.EngineLib/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BS_40_PRJ_2015/BSGen/BearcatSoft.BSGen.Framework/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BS_40_PRJ_2015/BSGen/BearcatSoft.BSGen.GUI.Controls/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BS_40_PRJ_2015/BSGen/BearcatSoft.BSGen.GUI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BS_40_PRJ_2015/BSGen/BearcatSoft.BSGen.GUIStarter/bin/Debug/BearcatSoft.BSGen.GUIStarter.vshost.exe
BS_40_PRJ_2015/BSGen/BearcatSoft.BSGen.GUIStarter/bin/Debug/BearcatSoft.BSGen.GUIStarter.vshost.exe.config
BS_40_PRJ_2015/BSGen/BearcatSoft.BSGen.GUIStarter/obj/Debug/BearcatSoft.BSGen.GUIStarter.csproj.FileListAbsolute.txt
BS_40_PRJ_2015/BSGen/BearcatSoft.BSGen.GUIStarter/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BS_40_PRJ_2015/BSGen/BearcatSoft.BSGen.Help/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BS_40_PRJ_2015/BSGen/BearcatSoft.BSGen.IISManager/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BS_40_PRJ_2015/BSGen/BearcatSoft.BSGen.PhD/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BS_40_PRJ_2015/BSGen/BearcatSoft.BSGen.SetupData/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BS_40_PRJ_2015/BSGen/BearcatSoft.GUIStarterEx/obj/Debug/BearcatSoft.GUIStarterEx.csproj.FileListAbsolute.txt
BS_40_PRJ_2015/BSGen/BearcatSoft.GUIStarterEx/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BS_40_PRJ_2015/BSGen/BearcatSoft.HostingEngine.Interfaces/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BS_40_PRJ_2015/BSGen/BearcatSoft.HostingEngine/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BS_40_PRJ_2015/BSGen/BearcatSoft.InstallUtils/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BS_40_PRJ_2015/BSGen/BearcatSoft.License/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BS_40_PRJ_2015/BSGen/BearcatSoft.Signature.AppKey/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BS_40_PRJ_2015/BSGen/BearcatSoft.Signature.ExtractPubKey/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BS_40_PRJ_2015/BSGen/BearcatSoft.Signature.LicenseManager/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BS_40_PRJ_2015/BSGen/BearcatSoft.Signature.Sign/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BS_40_PRJ_2015/BSGen/BearcatSoft.Signature.Verify/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BS_40_PRJ_2015/BSGen/BearcatSoft.Signature.VerifyHost/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BS_40_PRJ_2015/BSGen/MagicLibrary.v1.7.4/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BS_40_PRJ_2015/BearcatSoft.BSGen.EngineF35.Template/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BS_40_PRJ_2015/BearcatSoft.BSGen.FormStarter/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BS_40_PRJ_2015/BearcatSoft.BSGen.GUI.ToolsHost/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BS_40_PRJ_2015/BearcatSoft.BSGen.GenEngine/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BS_40_PRJ_2015/JTB_Bolek_BusinessRules/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BS_40_PRJ_2015/TTTraining/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BS_40_PRJ_2015/TTTraining/obj/Debug/TTTraining_MarkupCompile.i.cache
BS_40_PRJ_2015/WPF_Launcher/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BS_40_PRJ_2015/WPF_Launcher/obj/Debug/WPF_Launcher.csproj.FileListAbsolute.txt
BS_40_PRJ_2015/WPF_Launcher/obj/Debug/WPF_Launcher_MarkupCompile.i.cache
BS_40_PRJ_2015/BSGen/BearcatSoft.GUIStarterEx/bin/Debug/BearcatSoft.GUIStarterEx.vshost.exe
BS_40_PRJ_2015/BSGen/BearcatSoft.GUIStarterEx/bin/Debug/BearcatSoft.GUIStarterEx.vshost.exe.config
BS_40_PRJ_2015/BSGen/BearcatSoft.GUIStarterEx/bin/Debug/BearcatSoft.GUIStarterEx.vshost.exe.manifest
BS_40_PRJ_2015/TTTraining/obj/Debug/TTTraining_MarkupCompile.i.lref
